.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.header {
    width: 100%;
}

.footer {
    width: 100%;
}

.uppercontainer {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    width: 100%;
    height: 60vh; /* Use a fixed height, e.g., 60% of the viewport */
    background-color: black;
    overflow: hidden;
}

.body {
    flex: 1;
    color: white;  
    width: 100%;
}
